:root {
    --salmon: #dba39c;
    --mediumVioletRed: #fb1414;
    --darkOrange: #ff8c00;
    --darkKhaki: #bdb76b;
    --rebeccaPurple: #8443c6;
    --darkSlateBlue: #4e4cea;
    --darkGreen: #47c847;
    --teal: #9ec333;
    --steelBlue: #566a7a;
    --navy: #5252b9;
    --saddleBrown: #835736;
    --darkSlateGray: #348080;
    --maroon: #921d1d;
    --rosyBrown: #e38ce6;
    --dodgerBlue: #a83b6d;
    --dieColor01: #5252b9;
    --dieColor02: #3535f3;
    --dieColor03: #5e5e82;
    --dieColor04: #a1a1c4;
    --dieColor05: #47c847;
    --dieColor06: #0d810d;
    --dieColor07: #638063;
    --dieColor08: #0c420c;
}

.dieColor01 {
    color: var(--dieColor01);
}

.dieColor02 {
    color: var(--dieColor02);
}

.dieColor03 {
    color: var(--dieColor03);
}

.dieColor04 {
    color: var(--dieColor04);
}

.dieColor05 {
    color: var(--dieColor05);
}

.dieColor06 {
    color: var(--dieColor06);
}

.dieColor07 {
    color: var(--dieColor07);
}

.dieColor08 {
    color: var(--dieColor08);
}

.salmon {
  color: var(--salmon);
}

.mediumVioletRed {
  color: var(--mediumVioletRed);
}
.darkOrange {
  color: var(--darkOrange);
}
.darkKhaki {
  color: var(--darkKhaki);
}
.rebeccaPurple {
  color: var(--rebeccaPurple);
}
.darkSlateBlue {
  color: var(--darkSlateBlue);
}
.darkGreen {
  color: var(--darkGreen);
}
.teal {
  color: var(--teal);
}
.steelBlue {
  color: var(--steelBlue);
}
.navy {
  color: var(--navy);
}
.saddleBrown {
  color: var(--saddleBrown);
}
.darkSlateGray {
  color: var(--darkSlateGray);
}
.maroon {
  color: var(--maroon);
}
.rosyBrown {
  color: var(--rosyBrown);
}
.dodgerBlue {
  color: var(--dodgerBlue);
}
.red {
  color: red;
}

.warning {
  color: var(--salmon);
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}
form input {
  /*display: block;*/
  margin: 0.15em 5px;
}

h1 {
  display: block;
  font-size: 1.8em;
  margin: 0.8em auto;
  text-align: center;
  color: var(--darkSlateGray);
}

h2,
h3 {
  display: block;
  margin: 0.5em 0;
  color: var(--darkSlateGray);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

tr,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#sorting-button, #print-button {
    margin: 1em 0;
    padding: 0.5em 0.25em;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
    width: 60%;
    height: 50%;
    border: solid 1px var(--darkSlateGray);
    background-color: #fff;
    color: #000;
    margin-left: 0.5em;
}

#result-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;
    margin: 2em auto;
}

#result-list .result-item {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}

#result-list .result-item img {
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

#result-list .result-item .order-id,
#result-list .result-item .punch-die,
#result-list .result-item .name-butt {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
}

.punch-die{
    display: inline-grid;
}

#result-list .result-item .id-name .order-number,
#result-list .result-item .id-name .punch {
    text-align: left;
}

#result-list .result-item .punch-die .punch {
    /*position: relative;*/
    font-weight: bold;
    font-size: 1.25em;
    text-align: right;
    /*top: -50px;*/ /* move up */
}

#result-list .result-item .punch-die .die {
    /*position: relative;*/
    font-style: italic;
    text-align: right;
    font-weight: bold;
    font-size: 1.25em;
    /*top: -20px;*/ /* move up */
}

#result-list .result-item .punch-die .id-div {
  text-align: right;
}

#result-list .result-item .name-butt {
  margin-top: 5px;
  cursor: pointer;
}

#result-list .result-item .id-div,
#result-list .result-item .order-number {
    text-align: left;
}

.done-item .id-div,
.done-item .punch-die,
.done-item .name-butt .name-div,
.done-item .order-number{
    text-decoration: line-through;
}


.done-button,
.un-done-button {
    width: 30px;
    border: solid 1px #333;
    padding: 0.2em;
    border-radius: 50%;
}


.hidden {
  display: none;
}

footer {
  color: #a4a4a4;
  font-size: 1.2em;
  /*font-weight: bold;*/
  text-align: center;
  margin: 2em auto;
}

.form-group{
    border: solid;
    border-width: 1.5px;
}

.input-id{
    border: none;
    width: 44.8%;
}